WebPrimes/Service References/PrimesService/PrimesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrimesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:888/PrimesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:888/PrimesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:888/PrimesService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrimesService_IsPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrime" />
  </wsdl:message>
  <wsdl:message name="IPrimesService_IsPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimesService_GetPrimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimes" />
  </wsdl:message>
  <wsdl:message name="IPrimesService_GetPrimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimesResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimesService_GetPrimesBetween_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimesBetween" />
  </wsdl:message>
  <wsdl:message name="IPrimesService_GetPrimesBetween_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimesBetweenResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrimesService">
    <wsdl:operation name="IsPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimesService/IsPrime" message="tns:IPrimesService_IsPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimesService/IsPrimeResponse" message="tns:IPrimesService_IsPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimesService/GetPrimes" message="tns:IPrimesService_GetPrimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimesService/GetPrimesResponse" message="tns:IPrimesService_GetPrimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimesBetween">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimesService/GetPrimesBetween" message="tns:IPrimesService_GetPrimesBetween_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimesService/GetPrimesBetweenResponse" message="tns:IPrimesService_GetPrimesBetween_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrimesService" type="tns:IPrimesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrime">
      <soap:operation soapAction="http://tempuri.org/IPrimesService/IsPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimes">
      <soap:operation soapAction="http://tempuri.org/IPrimesService/GetPrimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimesBetween">
      <soap:operation soapAction="http://tempuri.org/IPrimesService/GetPrimesBetween" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrimesService">
    <wsdl:port name="BasicHttpBinding_IPrimesService" binding="tns:BasicHttpBinding_IPrimesService">
      <soap:address location="http://localhost:888/PrimesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>